body{
    background-color:#ffffff;
    font-size: 20px;
  
}

.mt-md-5 {
    margin-top: 3rem!important;
}

/* header */
header{
    position: fixed;
    width: 100%;
    color: white;
    z-index: 100;
    top: 10px; 
    /* font-size: 20px; */
    padding: 15px 60px;
    
   

}
.header ul li:hover a {
    color: #5E3F78;
    text-decoration: underline;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}
.header:hover{
    box-shadow:#d0c7d894 0px 0px 16px 4px;
}
.header{
    display: flex; 
    align-items: center;
    justify-content:space-between;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.714);
        backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 40px 12px;
    box-shadow:#d0c7d894 0px 0px 7px 1px;
}


.mt-30{
    margin-top: 30px;
}
.mt-60{
    margin-top:60px;
}
.mt-80{
    margin-top:80px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}

header .btn-primary {
            background-color:#5E3F78 ;
            color: white;
            border: 2px solid #5E3F78;
            padding: 10px 30px;
        }

          .btn-primary:hover {
            background-color: #f2e9fa;
            border-color: purple;
            color: #5E3F78;
        }

 .toggle-bt{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 11px;  
}
.toggle-bt div{
    position: relative;
    transition: 0.3s;
    height: 8px;
    width: 40px;
    background: black;
}

.toggle-bt.toggled div:nth-child(1){
    transform: rotate(45deg);
    top:10px;
}
.toggle-bt.toggled div:nth-child(2){
    transform: trasnslateX(100vw);
    opacity: 0;
}
.toggle-bt.toggled div:nth-child(3){
    transform: rotate(-45deg);
    bottom:6px;
}
.header .respo{
    display: flex;
    gap: 9px;
}


/* hero */
#hero{
    height: 100vh;
    background-color: #f2e9fa ;
    background-image: url(/img/hero-frame.png);
    position: relative;
    background-size: cover;
    width: 100%;
    border-radius:0px 0px 30px 30px; 
    margin-top: -80px;
    
}
.hero-ctn span{
    color: #5E3F78;
    font-weight: 500;
}
.hero-ctn{
    padding-top:215px;
}
.hero-ctn h2{
    font-size: 30px;
}
.hero-image{
    padding-top: 100px;

}
.icon-position img{
    width: 80%;
    height: 100%;
}

.hero-ctn .icon{
    padding-top: 30px;

}


.hero-ctn  .btn-primary{
            padding: 10px 30px;
            
            background-color:#5E3F78 ;
            color: white;
            border: 2px solid #5E3F78;
        }

          .hero-ctn  .btn-primary:hover {
            background-color: #f2e9fa;
            border-color: purple;
        }



.hero-ctn .icon i{
    font-size: 20px;
    color: #5E3F78;
    background:linear-gradient(1deg,#b4a7bf,#f2e6fc);
    padding: 10px 10px;
    border-radius: 10px;
    /* backdrop-filter: ; */
}
.heroflex .icon i:hover{
border: #5E3F78 solid 1px;
}
.heroflex{
    display: flex;
    justify-content: space-around;
   
}
.hero-ctn h1{
    background: linear-gradient(1deg,#5E3F78,#ff8fe5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveGradient 5s infinite;
    font-weight: 600;
    font-size: 60px;
    height: 80px;
}


.hero-ctn i{
    font-size: 15px;
}
.hero-ctn p+i{
    padding-left: 80%;
}
.bg-image{
   
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    border-radius: 0 20px 20px 0;
    background-repeat: no-repeat;
}
.hero-ctn .myimage{
    position: absolute;
    left: -200px;
    top: 70px;
    
}
.hero-ctn .hero-image{
    display: flex;
    justify-content: center;
    padding-top: 78px;
    
}
.heroflex {
    display: flex;
    justify-content: space-between;
}



/* services */
p,a,h1,h2,h3,h4,h5,h6,ul,li {
	margin: 0;
	padding: 0;
}

.section-services {
	font-family: "Poppins", sans-serif;
	background-color: #ffffff;
	color: #202020;
	margin-bottom: 30px;
    
}
.section-services h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 44px;
}
.section-services .header-section {
	margin-bottom: 34px;
}

.section-services .header-section .title {
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
	font-weight: 700;
    font-size: 32px;
}

.section-services .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 3px;
	background-color: #5E3F78;
    border-radius: 3px;
}

.section-services .header-section .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(30px);
	width: 10px;
	height: 3px;
	background-color: #5E3F78;
    border-radius: 3px;
}

.section-services .header-section .description {
	font-size: 14px;
    color: #282828;
}

.section-services .single-service {
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
}

.section-services .single-service .content {
	position: relative;
	z-index: 20;
}

.section-services .single-service .circle-before {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(40%, -40%);
    width: 150px;
    height: 150px;
    background-color: #5E3F78;
    border: 6px solid #5E3F78;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
    transition: all .6s;
}

.section-services .single-service:hover .circle-before {
	width: 100%;
	height: 100%;
	transform: none;
	border: 0;
	border-radius: 0;
	opacity: 1;
}

.section-services .single-service .icon {
	display: inline-block;
	margin-bottom: 26px;
    width: 70px;
    height: 70px;
    /* background-color: #5E3F78; */
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}
.section-services img{
    background-color: white;
    padding: 2px;
    background-origin: 5px;
}
.section-services .single-service:hover .icon {
	background-color: #fff;
	color: #5E3F78;
}

.section-services .single-service .title {
    margin-bottom: 18px;
	font-weight: 700;
    font-size: 23px;
    transition: color .3s;
}

.section-services .single-service:hover .title {
	color: #fff;
}

.section-services .single-service .description {
    margin-bottom: 20px;
    font-size: 14px;
    transition: color .3s;
}

.section-services .single-service:hover .description {
	color: #fff;
}

/* .section-services .single-service a {
	position: relative;
	font-size: 18px;
    color: #202020;
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}

.section-services .single-service:hover a {
	color: #fff;
} */

/* .section-services .single-service a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #5E3F78;
	transition: color .3s;
}

.section-services .single-service:hover a:after {
	background-color: #fff;
} */



/* About */
#about{
     background-color: #f2e9fa ;
     width: 100%;
     height: 100%;
     border-radius: 20px; 
     margin-top: 50px;
    margin-bottom: 50px;
}
.about-me{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    height: 100%;
}
.about-me .paragraph{
    padding-bottom: 10px;
}
.about-me h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 44px;
    
}
.about-me img{
    height: 335px;
}
.about-me .btn-primary {
            background-color:#5E3F78 ;
            color: white;
            border: 2px solid #5E3F78;
        }

          .btn-primary:hover {
            background-color: #f2e9fa;
            border-color: purple;
            color: #5E3F78;
        }
.text{
    /* position: relative; */
    background-color: white;
    padding: 80px 40px;
        /* width: 100%; */
    /* margin-left: 400px; */
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15); ;
}
.text .image {
    position: absolute;
    left: -42%;
    top: 10%;
}
.about-me .cta-btn{
    background: linear-gradient(1deg,white,#f2e9fa);
    padding: 5px 10px;
    border: 1px solid  #8459a6;
    border-radius: 20px;
}

/* education */
.edu-ctn {
            margin-top: 10px;
            text-align: center;
            background: #ffffff !important;
            padding-top: 30px;
        }

.edu-ctn h1 {
            
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 44px;
    margin-bottom: 30px;

        }
        .main:after {
            content: '';
            display: block;
            clear: both;
        }

        .main .timeline {
            width: calc(50% + 110px);
            margin: 0 0 30px;
            float: right;
        }

        .main .content {
            background: #fff;
            padding: 25px 25px 25px 175px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            display: block;
            position: relative;
            border-radius: 20px;
        }

        .main .content:hover {
            text-decoration: none;
        }

        .main .content:before {
            content: "";
            background: #7e5b9d;
            width: 125px;
            height: 100%;
            border: 0 solid #5E3F78;
            border-right-width: 30px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px 20px 20px 20px;
        }

        .main .icon {
            color: #fff;
            background: #5E3F78 ;
            font-size: 30px;
            text-align: center;
            line-height: 105px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 1px 1px 0px #fff inset, 0 0 8px rgba(0, 0, 0, 0.4);
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: 62px;
        }

        .main .year {
            color: #fff;
            font-size: 35px;
            font-weight: 700;
            line-height: 35px;
            transform: translateY(-50%) rotate(90deg);
            position: absolute;
            top: 50%;
            left: -10px;
        }

        .main .title {
            color:  #5E3F78;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 8px;
        }

        .main .description {
            color: #777;
            font-size: 16px;
            margin: 0;
        }

        .main .timeline:nth-child(even) {
            float: left;
        }

        .main .timeline:nth-child(even) .content {
            padding: 25px 175px 25px 25px;
        }

        .main .timeline:nth-child(even) .content:before {
            border-left-width: 30px;
            border-right-width: 0;
            left: auto;
            right: 0;
        }

        .main .timeline:nth-child(even) .year {
            left: auto;
            right: -10px;
        }

        .main .timeline:nth-child(even) .icon {
            box-shadow: -1px 1px 0px #fff inset, 0 0 8px rgba(0, 0, 0, 0.4);
            left: auto;
            right: 62px;
        }

        .main .timeline:nth-child(4n+2) .content:before {
            background:  #7e5b9d;
            border-color: #5E3F78;
        }

        .main .timeline:nth-child(4n+2) .icon {
            background:#5E3F78;
        }

        .main .timeline:nth-child(4n+2) .title {
            color: #5E3F78;
        }

        .main .timeline:nth-child(4n+3) .content:before {
            background:  #7e5b9d;
            border-color: #5E3F78;
        }

        .main .timeline:nth-child(4n+3) .icon {
            background:  #5E3F78;
        }

        .main .timeline:nth-child(4n+3) .title {
            color:#5E3F78;
        }

        .main .timeline:nth-child(4n+4) .content:before {
            background: #5E3F78;
            border-color: #5E3F78;
        }

        .main .timeline:nth-child(4n+4) .title {
            color: #5E3F78;
        }

        .main .timeline:nth-child(4n+4) .icon {
            background: #5E3F78;
        }

        @media screen and (max-width:767px) {
            .main .timeline {
                width: 100%;
            }
        }

        @media screen and (max-width:576px) {

            .main .timeline,
            .main .timeline:nth-child(even) {
                text-align: center;
                margin: 0 0 30px;
            }

            .main .timeline-content,
            .main .timeline:nth-child(even) .content {
                padding: 15px 10px 175px 10px;
            }

            .main .content:before,
            .main .timeline:nth-child(even) .content:before {
                width: 100%;
                height: 123px;
                border-left-width: 0;
                border-right-width: 0;
                border-top-width: 30px;
                top: auto;
                bottom: 0;
            }

            .main .year,
            .main .timeline:nth-child(even) .year {
                transform: translateX(-50%) translateY(0) rotate(0deg);
                top: auto;
                bottom: 10px;
                left: 50%;
            }

            .main .icon,
            .main .timeline:nth-child(even) .icon {
                box-shadow: -1px -1px 0px #fff inset, 0 0 8px rgba(0, 0, 0, 0.4);
                transform: translateX(-50%) translateY(0);
                top: auto;
                bottom: 62px;
                left: 50%;
            }

            .main .title {
                font-size: 20px;
            }
        }
        /* project */

/* skilss */
.skills-ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-bottom: 60px;
    height: 100%;
    
}
.skills-ctn h3{
  
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 44px;
    padding: 50px;
    height: 100%;
}
.skills-ctn .apps{
    background-color: #f2e9fa;
    border-radius: 20px;
    padding: 30px;
    height: 180px;

}
.skills-ctn .apps:hover {
    background-color: white;
    border-radius: 2px solid #5E3F78;
    box-shadow: 0px 0px 9px -6px;
}


/* project        */
#project{
    background-color: #5E3F78;
}
.project-ctn{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    border-radius: 20px;
    padding:30px 20px ;
}
.project-ctn img{
    border-radius: 20px;
   
}
.project-ctn .work{
    position: relative;
}
.project-ctn .view{
    position: absolute;
    left: 32px;
    bottom: 28px;
    z-index: 100;
    background-color: #5e3f78cf;
    padding: 10px 132px;
    color: white;
    border-radius: 10px;

}
.project-ctn .work:hover .view{
    background-color:white;
    border:1px solid #5E3F78;
    color: #5E3F78;

}
.project-ctn h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 44px;
    color: white;
    
}
.project-ctn{
    height: 100%;
}
/* contact */
#Contact{
    background-color:  #f2e9fa;
    padding:30px  ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.contact-ctn{
    border:4px solid #ffffff;
    padding: 30px;
    border-radius:15px;
}
.contact h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 44px;
    
    
}
.contact i{
    font-size: 30px;
    color: #5E3F78;
}
.contact  .name-mail ul li input {
    border: 1px solid #8459a6;
    border-radius: 30px;
    padding: 5px 0px 5px 10px;
    margin: 8px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    outline: none;
    width: 100%;
}
li{
    list-style: none;
}
.number-subject ul li input {
    border: 1px solid #8459a6;
    border-radius: 30px;
    padding: 5px 0px 5px 10px;
    margin: 8px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    outline: none;
    width: 100%;
}
.message{
    padding-left: 10px;
}
.message textarea {
    border: 1px solid #8459a6;
    border-radius: 15px;
    padding: 5px 15px 50px 15px;
    width: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    outline: none;
}
.contact .submit-button button{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    outline: none;
    color: #ffffff;
    border-radius: 30px;
    background-color:#8459a6;
    margin-top: 15px;
    padding: 6px 20px;
    border: none;
    width: 100%;
}
/* .contact .submit-button button:hover{
     
            background-color: #f2e9fa;
            border-color: purple;
            color: #5E3F78;
} */
.contact .textarea{
    margin-left: -10px;
}

/* skilss */
/* Footer */
.foot1{
    background-color: #5E3F78;
    color: white;
    padding: 70px 40px;
}
.foot1 a{
    color: white;
}

.foot2{
    background-color: rgb(240, 229, 250);
    display: flex;
    justify-content: center;
}
.foot1 .white{
    background-color: rgb(242 233 250 / 84%);
    padding: 5px;
    border-radius: 8px
}
.foot1 .navigation{
    display: flex;
    flex-direction: column;
}