
@media screen and (max-width:1200px){

    .text {
        background-color:white;
        padding:80px 40px;
                max-width:100%;

    }
    .header nav ul{
        display:none !important;

    }
         header .btn-primary{
    display: none;
 }
    .toggle-bt{
        display:flex;
        z-index:100;
    }
    .header nav ul.toggled{
        opacity:1;
        left:0;
    }
   

    #hero{
        padding-top:0;
    }

    .heroflex{
        display:flex;
        justify-content:space-between;
        
    }


    .icon-position img{
        width:400px;
        height:100%;
    }

    .foot1, .contact{
        font-size:18px;
    }
}

@media screen and (max-width:1024px){

    .text{
               max-width:100%;

        padding:80px 40px;
        font-size:18px;
    }

    /* .text .image{
        left:-43%;
        top:8%;
    } */

    .work img{ width:95%; }

    .project-ctn .view {
    padding: 10px 145px;
}
}


@media screen and (max-width:992px){

    .toggle-bt{ display:flex; }

    header nav ul{
        position:absolute;
        top:90px;
        left:-100%;
        flex-direction:column;
        width:100%;
        background:white;
        padding:20px 0;
        gap:20px;
        transition:0.3s;
    }
    

    #hero{ margin-top:-132px; }

    .hero-ctn{
        padding-top:215px;
        width:92%;
    }
.hero-image {
    padding-top: 140px;
}
.icon-position img {
    width: 360px;
    height: 100%;
}
    .heroflex{
        display:flex;
        justify-content:space-between;
        
    }

    .project-ctn{
                max-width:100%;

       
    }
    .project-ctn .view {
    padding: 10px 145px;
}

    .text{
        max-width:100%;
        padding:40px;
    }


    .foot1,.contact{ font-size:16px; }
    .foot2{ font-size:15px; }
}


@media screen and (max-width:768px){

    .header nav ul{
       
        position:fixed;
        top:0;
        width:100%;
       
        align-items:center;
        flex-direction:column;
        transition:0.3s;
        opacity:0;
    }

    .header nav ul.toggled{
        display:flex !important;
        opacity:1;
        left:0;
    }

    .toggle-bt{ display:flex; }

    .icon-position{ display:none; }

    .hero-ctn{ padding-top:150px; }

    .text .image{ display:none; }

    .text{
        max-width: 100%;
        padding:22px;
    }

    .project-ctn{
               max-width:100%;

       
    }

    .work img{ width:100%; }
    .project-ctn .view {
    padding: 10px 90px;
}
}

@media screen and (max-width:482px){
    header{
        padding:5px 10px ;
    }
    #hero{
        width:100%;
      
    }
    .hero-ctn h1 {
        font-size: 50px;
    }
     .heroflex {
        margin-left: 60px;
    }
    .text{
        width:auto;
        padding:22px;
        margin-left:4px;
    }

    .project-ctn{
        width:324px;
    }

    .project-ctn .view{
       
        padding:10px 90px;
    }
   
   
}
