@media screen and (max-width:1400px){
.text .image {
    position: absolute;
    left: -43%;
    top: 14%;
}
.text {
    position: relative;
    background-color: white;
    padding: 80px 40px;
    width: 770px;
    
}
}

@media screen and (max-width:1200px){
/* .header{
    display: flex;
    width: 100%;
    height: 70px;
    padding: 30px 13px;
}  */
   .header nav ul{
        display: none !important;
    }
.text {
 
    padding: 80px 40px;
    width: 1000px;
   
}
#hero{
    padding-top: 0px;
   
}
.heroflex {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.text .image {
    position: absolute;
    left: -50%;
    top: 8%;
}
.icon-position img{
    width: 400px;
    height: 100%;
}
 .header nav ul.toggled{
      opacity: 1;
      left: 0;
    }
    .toggle-bt{
    display: flex;
    z-index: 100;       
    }

    .foot1{
        font-size: 18px;
    }
    .contact{
        font-size: 18px;
    }
}
@media screen and (max-width:1130px){
.text {
   
    padding: 80px 40px;
    width: 700px;
    font-size: 18px;
}
.text .image {
    position: absolute;
    left: -43%;
    top: 8%;
}
.work img{
    width: 95%;
}
.project-ctn .view {
    padding: 10px 110px;
}
}
@media  screen and (max-width:991px) {
   #hero{
     margin-top: -132px;
   }

.hero-ctn {
    padding-top: 215px;
    width: 92%;
}
.heroflex {
    display: flex;
    justify-content: space-between;
    margin-left: 42px;
}
.hero-image {
    padding-top: 90px;
}
.heropic {
    margin-right: 105px;
}

.project-ctn {
    display: flex;
    height: 100%;
    width: 625px;
    margin-left: 50px;
}
.project-ctn .view {
    padding: 10px 90px;
}
.work img{
    width: 95%;
}
.text {
    
    padding: 40px 40px;
    width: 450px;
    
}
.about-me img {
    height: 335px;
}
.text .image {
    position: absolute;
    left: -51%;
    top: 9%;
}
.icon-position {
    display: flex;
    height: 400px;
    width: 239px;
    margin-top: 90px;
}
 .header nav ul.toggled{
      opacity: 1;
      left: 0;
    }
    .toggle-bt{
    display: flex;
    z-index: 100;       
    }
    .header nav ul{
        display: none !important;
    }
    .foot1{
        font-size: 16px;
    }
    .contact{
        font-size: 16px;
    }
    .foot2{
        font-size: 15px;
    }

}

@media screen and (max-width:767px){
      .header nav ul{
        display: none !important;
        display: flex;
        height: auto;
        
        position: fixed;
        top: 0;
        
        width: 100%;
        background: grey;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s;
        opacity: 0;
    } header .btn-primary{
    display: none;
 }
    .header nav ul.toggled{
      opacity: 1;
      left: 0;
    }
    .heroflex {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}
    .toggle-bt{
    display: flex;
    z-index: 100;       
    }
    
    .icon-position{
        display: none;
    }
   .hero-ctn {
    padding-top: 150px;
}
.text .image {
   display: none;
}
.text {
   width: 510px;
    padding: 22px;
    margin-right: 5px;
}
.main .timeline {
  width: 0;

}
.project-ctn {
    display: flex;
    height: 100%;
    width: 405px;
    margin-left: 55px;
}
.work img {
    width: 93%;
}
.skills-ctn .apps {
    background-color: #f2e9fa;
    border-radius: 20px;
    padding: 30px;
    height: 180px;
    margin-top: 10px;
    /* width: 50%; */
    display: flex;
    /* align-content: stretch; */
    justify-content: center;
}

.main .timeline-content, .main .timeline:nth-child(even) .content {
    /* padding: 15px 10px 175px 10px; */
}
   
}


@media  screen and (max-width:567px) {

    .header nav ul{
        display: none !important;
        display: flex;
        height: auto;
        
        position: fixed;
        top: 0;
        
        width: 100%;
        background: grey;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s;
        opacity: 0;
    }
     header .btn-primary{
    display: none;
 }
    .header nav ul.toggled{
      opacity: 1;
      left: 0;
    }
     #hero{
      height: 100%;
      width: 93%;
      background-size: cover;
    }
    .heroflex{
        margin-left: 60px;
    }
    .toggle-bt{
    display: flex;
    z-index: 100;       
    }
    .project-ctn {
    display: flex;
    height: 100%;
    width: 400px;
    margin-left: 32px;
}
.project-ctn {
    display: flex;
    height: 100%;
    width: 450px;
    margin-left: 9px;
}
.work img {
    width: 70%;
}
.project-ctn .view {
    padding: 10px 120px;
}
.project-ctn .view{
    width: 95%;
}
.skills-ctn .apps {
   
    width: 449px;
}
.text {
   
    padding: 22px;
    margin-right: 5px;
    width: 450px;
}




}
@media screen and (max-width:365px){
 header .btn-primary{
    display: none;
 }
.hero-ctn h1 {
    font-size: 32px;
}
#hero {
    height: 625px;
    width: 100%;
    background-size: cover;
}
.hero-ctn h1 {
    font-size: 32px;
}
.heroflex {
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
}
  
    #about{
     background-color: #ffffff ;
     width: 100%;
     height: 100%;
     border-radius: 20px;
}
 .text .image {
        position: static;
        display: block;
        
        margin-top: 30px;
    }
  .text {
    margin-left: 4px;
    padding: 22px;
    margin-right: 5px;
    width: 320px;
}
.header {
    display: flex;
    width: 60%;
    height: 70px;
    padding: 30px 13px;
}
.project-ctn .view {
    width: 49%;
}
.skills-ctn .apps {
   
    width: 449px;
}
.work img {
    width: 65%;
}
}